/* здесь используйте глобальные переменные */

// point
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;
$only-mobile: 767px;

// bg color
$base-color-body: #ffffff;
$base-color-main: #f3ebe1;
$base-color-catalog: #f8f8f8;
$base-color-disabled: #e2e2e2;
$base-color-disabled2: #bdbdbd;
$base-divider-color: #f0ebff;

// text color
$base-color-badge: #7859cf;
$base-color-title: #333333;

// form color
$base-form-color: #9070ec;
$base-form-color2: #7859cf;
