.header {
  min-height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $mobile-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    justify-content: stretch;
    gap: 176px;
  }
}

@media (max-width: 1439px) {
  .header__logo-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header__logo-text {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: $base-color-title;
    width: 126px;
  }

  .header__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 22px;
  }
}
