.nav {
  width: 180px;;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 117px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    gap: 64px;
    width: 243px;
    justify-content: stretch;
  }
}


.nav__item-user {
  display: block;
  background-image: url("../../icons/user.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.nav__item-union {
  display: block;
  background-image: url("../../icons/union.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.nav__item-button {
  cursor: pointer;
  width: 16px;
  height: 12px;
  border: none;
  background-color: transparent;
  background-image: url("../../icons/menu.svg");
  background-size: 16px 12px;
  background-repeat: no-repeat;
}


 @media (min-width: $tablet-width) {
  .nav__item-mobile {
    display: none;
  }
}

@media (max-width: 1439px) {
  .nav__item-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .nav__item-text {
    font-size: 12px;
    line-height: 16px;
    color: $base-color-title;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .nav__item {
   display: flex;
   align-items: center;
   gap: 8px;
  }

  .nav__item:first-child {
    padding-left: 21px;
  }
}


